.lastBlock {
    margin: 0 auto;
    width: 1354px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__title {
        font-size: 26px;
        font-weight: 900;
        line-height: 38px;
        color: #fcfcfd;
        span {
            font-size: 26px;
            font-weight: 700;
            line-height: 38px;
            color: $color-neon;
        }
    }
    &__subtitle {
        width: 365px;
        height: 132px;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        color: #fcfcfd;
    }
}
